<div class="row">
    <div class="col-md-8 offset-md-2">
        <h2 class="text-muted mb-3">Reset Password</h2>
        <form action="/auth/forget-password" method="POST">  
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" name="email" id="email" placeholder="Enter email"
                {{#if userInput.email}}
                    value="{{userInput.email}}" 
                {{/if}}>
            </div>
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <button type="submit" class="btn btn-info">Send My Password</button>
        </form>
    </div>
</div>            