<div class="row">
    <div class="col-md-8 offset-md-2">
        <h2 class="text-muted mb-3">Reset Password</h2>
        <form action="/auth/reset-password" method="POST">  
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" 
                id="password" placeholder="Enter Password">
            </div>
             <div class="form-group">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" class="form-control" name="confirmPassword" 
                id="password" placeholder="Enter Re-type Password">
                <input type="hidden" name="email" value="{{email}}">
                <input type="hidden" name="token" value="{{token}}">
            </div>
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <button type="submit" class="btn btn-info">Reset Password</button>
        </form>
    </div>
</div>            