<form action="/ideas" method="POST">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" name="title" class="form-control" id="title">
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <textarea name="description" class="form-control" id="description" rows="5"> </textarea>
    </div>
    <div class="form-group">
        <label for="status">Status</label>
        <select name="status" id="status">
            <option value="public">
                Public
            </option>
            <option value="private">
                Private
            </option>
        </select>
    </div>
    <div class="form-check">
        <input type="checkbox" name="allowComments" class="form-check-input" id="allowcomments">
        <label for="allowcomments" class="form-check-label">AllowComments</label>

    </div>
    <button class="btn btn-primary mt-3" type="submit">Add idea</button>

</form>