<div class="card">
  <div class="card-body">
      <h2 class="card-title">{{idea.title}}</h2>
      <div class="card-text">{{{idea.description}}}</div>
      <a href="/ideas/{{idea.id}}/edit" class="btn btn-primary float-left mr-2 mt-2">Edit</a>
      <form action="/ideas/{{idea.id}}?_method=DELETE" method="POST">
        <button class="btn btn-danger mt-2">Delete</button>
      </form>

  </div>
</div>