.ck-editor__editable{
    min-height: 200px;
  }

  .bootstrap-tagsinput {
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    display: inline-block;
    padding: 4px 6px;
    color: #555;
    vertical-align: middle;
    border-radius: 4px;
    max-width: 100%;
    line-height: 22px;
    cursor: text;
  }
  .bootstrap-tagsinput input {
    border: none;
    box-shadow: none;
    outline: none;
    background-color: transparent;
    padding: 0 6px;
    margin: 0;
    width: auto;
    max-width: inherit;
  }
  .bootstrap-tagsinput.form-control input::-moz-placeholder {
    color: #777;
    opacity: 1;
  }
  .bootstrap-tagsinput.form-control input:-ms-input-placeholder {
    color: #777;
  }
  .bootstrap-tagsinput.form-control input::-webkit-input-placeholder {
    color: #777;
  }
  .bootstrap-tagsinput input:focus {
    border: none;
    box-shadow: none;
  }
  .bootstrap-tagsinput .tag {
    margin-right: 2px;
    color: white;
  }
  .bootstrap-tagsinput .tag [data-role="remove"] {
    margin-left: 8px;
    cursor: pointer;
  }
  .bootstrap-tagsinput .tag [data-role="remove"]:after {
    content: "x";
    padding: 0px 2px;
  }
  .bootstrap-tagsinput .tag [data-role="remove"]:hover {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  }
  .bootstrap-tagsinput .tag [data-role="remove"]:hover:active {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  }
.label-info{
  background-color: #5bc0de;
}  
.profile li {
  margin-bottom: 2em;
}
.profile li em {
  margin-right: 2em;
}

.categories .fa:hover {
  cursor: pointer;
}

.idea h2 a {
  text-decoration: none;
  color: #333;
}

.like-btn:hover {
  cursor: pointer;
}

.idea h2 a:hover {
  color: #007bff;
}

.profile-image img {
  width: 300px;
  height: 300px;
}

.idea h2 {
  position: relative;
  z-index: 999;
  color: rgb(35, 43, 43);
  text-align: left;
  padding-left: 0.2em;
  line-height: 300px;
  height: 300px;
  width: 100%;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.6);
}

.idea img {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  opacity: 0.8;
  height: 300px;
  z-index: -1;
}

@media only screen and (max-width: 991px) {
  .idea h2 {
    font-size: 2.5em !important;
  }
}

@media only screen and (max-width: 765px) {
  .idea h2 {
    font-size: 1.5em !important;
  }
}
